/*
    <div className="viking-upload-component">
    ===================================1-1 upload-input wrapper ========================================
      <div className="viking-upload-input"  style={{display: 'inline-block'}}>

        ---------------------------------拖拽wrapper----------------------------
        <div className="viking-uploader-dragger is-dragover">children</div>
          
        -----------------------------input type="file" -----------------
        <input className="viking-file-input" style={{display: 'none'}} type="file" />
      </div>

    =====================================1-2 uploadlist wrapper==================================================
      <ul className="viking-upload-list">
          // 单个filelist (li)
          <li className="viking-upload-list-item">

            ````````````````````````` fileName + iconFont````````````````
            <span className="file-name file-name-success"">
              <Icon icon="file-alt" theme="secondary" />
              {item.name} 
            </span>

            ````````````````````````` icon status 不hover的样式`````````````````````````
            <span className="file-status">
              <Icon icon="spinner" spin theme="primary" />
              <Icon icon="check-circle" theme="success" />
              <Icon icon="times-circle" theme="danger" />
            </span>

            ``````````````````` icon actions --伪类 hover的样式 ``````
            <span className="file-actions">
              <Icon icon="times"/>
            </span>

            -----------------------------------Progress组件------------------
            // bar-wrapper process 
            <div className="viking-progress-bar" style={styles}>
              // 灰色bar-outer
              <div className="viking-progress-bar-outer" style={{ height: `${strokeHeight}px`}}>
                // theme bar-inner
                <div className=`viking-progress-bar-inner color-success` style="width:30%">
                  <span className="inner-text">30%</span>
                </div>
              </div>
            </div>
          </li>
      </ul>
    </div>
*/

/* uploadlist wrapper */
.viking-upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* 拖拽 wrapper */
.viking-uploader-dragger {
  background: $gray-100;
  border: 1px dashed $gray-300;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 360px;
  height: 180px;
  text-align: center;
  &:hover {
    border: 1px dashed $primary;
  }
  &.is-dragover {
    border: 2px dashed $primary;
    background: rgba($primary, .2);
  }
}

/* 单个filelist (li) */
.viking-upload-list-item {
  transition: all .5s cubic-bezier(.55,0,.1,1);
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  position: relative;
  &:first-child {
    margin-top: 10px;
  }
  // filename 
  .file-name {
    margin-left: 5px;
    margin-right: 40px;
    svg {
      margin-right: 5px;
      color: $gray-500;
    }
  }
  .file-name-error {
    color: $danger;
    svg {
      color: $danger;
    }
  }
  // file status 不hover的样式
  .file-status {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit;
  }
  // file-actions hover的样式
  .file-actions {
    display: none;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: inherit;
    cursor: pointer;
  }
  &:hover {
    background-color: $gray-200;
    .file-status {
      display: none;
    }
    .file-actions {
      display: block;
    }
  }
}